@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SrPro';
  src: url('../public/fonts/SF-Pro-Display-Medium.otf');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'SrPro', sans-serif !important;
}

html,
body {
  height: 100%;
  padding: 0;
  background-color: #000212;
  margin: 0;
}

.headmain {
  background: linear-gradient(
      220deg,
      #19142e94,
      #201a3700,
      #201a3700,
      #201a3700
    ),
    linear-gradient(-220deg, #19142e7f, #201a3700, #201a3700, #201a3700);
  background-blend-mode: normal;
}

.bgmainimg {
  background-image: url("../public/images/background\ image.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 90%;
}

.tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.155) !important;
}

td {
  padding: 15px 0px;
}
.mainscroll {
  margin: 0;
  scroll-snap-type: y mandatory;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
}
.animation {
  transition: 0.5s ease;
}

.whychoose {
  background: linear-gradient(0deg, #19142e00, #201a372c, #231a4a21, #19142e00);
}

/* for scroll component */
section {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  width: 100%;
  z-index: -1;
}

section:nth-child(2) {
	z-index: -2;
}

section:nth-child(3) {
	z-index: -3;
}

section:last-child {
  z-index: -4;
}

.animation {
  animation: headanimation 0.8s ease-in-out;
}
.animation2 {
  animation: headanimation 1s ease-in-out;
}

.slotanimation {
  animation: topanimation 1s ease-in-out;
}
.footergrd {
  background: var(
    --Linear-violet,
    linear-gradient(180deg, #9ca2e3 0%, #606bd2 100%)
  );
}

.mouse-shadow {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out;
  z-index: 9999;
}

.mouseclick {
  /* handle */
}
.cursorimg {
  transition: all 0.5s;
}
.cursorimg:hover {
  filter: brightness(0.5);
cursor: pointer;
}

@keyframes topanimation {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
