@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: #000212;
}

.headmain {
  background: 
  linear-gradient(33.33deg,#19142e00, #201a3700, #20184400, #19142e)
}

.bgmainimg {
  background-image: url('../public/images/background\ image.png');
  background-size:cover;
  background-position: center center;
  height: 600px;
  width: 100%;
}

.tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.155) !important;
}

td {
  padding: 15px 0px;
}
