@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background-color: #000212;
  margin: 0;
}

/* scroll bar */
/* For Chrome, Safari, and newer Edge */
::-webkit-scrollbar {
  width: 12px; /* Set width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a; /* Set color of the thumb in dark mode */
  border-radius: 6px; /* Set border radius of the thumb */
}

::-webkit-scrollbar-track {
  background-color: #333; /* Set color of the track in dark mode */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Set color of the thumb on hover in dark mode */
}

.headmain {
  background: linear-gradient(
    45deg,
    #19142e00,
    #201a3710,
    #231a4a00,
    #19142eb9
  );
}

.bgmainimg {
  background-image: url("../public/images/background\ image.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100%;
  width: 90%;
}

.tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.155) !important;
}

td {
  padding: 15px 0px;
}
.mainscroll {
  margin: 0;
  scroll-snap-type: y mandatory;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  scroll-snap-align: start;
}
.animation {
  transition: 0.5s ease;
}

.animation:hover {
  transform: translateY(-8px);
}

.whychoose {
  background: linear-gradient(0deg, #19142e00, #201a372c, #231a4a21, #19142e00);
}